<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qrb.spzx.manager.mapper.SysRoleMapper">
    <!--返回list，还是使用resultMap--><!--sysRoleMap唯一标识....autoMapping="true":在映射时会自动忽略大小写-->
    <resultMap id="sysRoleMap" type="com.qrb.spzx.model.entity.system.SysRole" autoMapping="true"></resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        id,role_name,role_code,description,create_time,update_time,is_deleted
    </sql>

    <!--//查询所有角色-->
    <select id="findAll" resultMap="sysRoleMap">
        select <include refid="columns"/>
            from sys_role where is_deleted = 0
    </select>

    <!--//根据角色名称进行条件分页查询-->
    <!--concat()连接字符串函数-->
    <select id="findByPage" resultMap="sysRoleMap">
        select <include refid="columns"/>
            from sys_role
            <where>
                <if test="roleName != null and roleName != ''">
                    and role_name like concat('%',#{roleName},'%')
                </if>
                and is_deleted = 0
            </where>
            order by id desc
    </select>

    <!--//角色添加-->
    <insert id="save">
        insert into sys_role (
            id,
            role_name,
            role_code,
            description
            ) values (
            #{id},
            #{roleName},
            #{roleCode},
            #{description}
            )
    </insert>

    <!--//角色修改-->
    <update id="update">
        update sys_role set
        <if test="roleName != null and roleName != ''">
            role_name = #{roleName},
        </if>
        <if test="roleCode != null and roleCode != ''">
            role_code = #{roleCode},
        </if>
        <if test="description != null and description != ''">
            description = #{description},
        </if>
        update_time =  now()
        where
        id = #{id}
    </update>

    <!--//角色删除-->
    <update id="delete">
        update sys_role set is_deleted = 1 where id = #{roleId}
    </update>
</mapper>

